body{
    background-image: linear-gradient(pink, white, pink);
    background-size: 1em 70em;
    font-family: 'Halvetica';
}
header{
    font-size: 1.5em;
    text-align: center;
    border-bottom: solid .3em;
    border-bottom-color: black;
    text-shadow: .1em .2em salmon;
}
footer{
    border-top: solid .2em black;
    font-size: 1.1em;
    position: fixed;
    bottom: 0;
}
main{
    font-size: 2em;
    padding: 2em;
    text-align: right;

    h2{
        font-style: italic;
        text-align: center;
    }
    p{
        font-weight: bold;
    }
    ol{
        list-style-type:circle;
        display: inline-block;
    }
}
table{
    background-color: pink;
    width: 30em;
    height: 15em;
    border-collapse: collapse;
    position: relative;
    left: 38%;
    td{
        text-align: center;
        border: inset 4px white;
        font-weight: bold;
        font-size: 2em;
    }
}
a{
    font-size: 2em;
    text-align: center;
    color: black;  
    align-items: center; 
    left: 1em;
    top: 1em;
    position: fixed;
}
button{
    position: relative;
    top: 65em;
    left: 1em;
    cursor: pointer;
    background-color: black;
    border-radius: 20% 20% 20% 20%;
    color: white;
    width: 8em;
    height: 2em;
}