body{
    background-image: linear-gradient(lightblue, #70BAC7, lightblue);
    background-size: 1em 70em;
    font-family: Impact;
}
header{
    font-size: 1.5em;
    text-align: right;
    border-bottom: solid .3em;
    border-bottom-color: black;
    text-shadow: .1em .2em deepskyblue;
}
footer{
    border-top: solid .2em black;
    font-size: 1.1em;
    position: fixed;
    bottom: 0;
}
main{
    font-size: 1.5em;
    padding: 2em;
    text-align: center;
    h2{
        font-weight: bold;
    }
    ol{
        list-style-type: upper-roman;
        display: inline-block;
    }
}
table{
    background-color: lightblue;
    width: 30em;
    height: 15em;
    border-collapse: collapse;
    position: relative;
    left: 75%;
    td{
        text-align: center;
        border:  dashed 4px blue;
        font-weight: bold;
        font-size: 2em;
    }
}
a{
    font-size: 2em;
    text-align: center;
    color: black;  
    align-items: center; 
    right: 1em;
    bottom: 1.2em;
    position: fixed;
}
button{
    position: relative;
    top:-100px;
    left: 1em;
    z-index: 3;
    cursor: pointer;
    background-color: black;
    border-radius: 20% 20% 20% 20%;
    color: white;
    width: 8em;
    height: 2em;
}