.merkur{
    position: fixed;
    background-color: transparent;
    height: 350px;
    width: 350px;
    left: calc(50% - 175px);
    top: calc(50% - 175px);
    border-radius: 50%;
    animation-name: pohyb;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.merkurPohyb{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: rotate(210deg);
}