.mesic{
    position: fixed;
    background-color: transparent;
    height: 700px;
    width: 700px;
    left: calc(50% - 350px);
    top: calc(50% - 350px);
    border-radius: 50%;
    z-index: 10000;
    animation-name: pohyb;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.mesicStred{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    animation-name: pohyb;
    animation-fill-mode: forwards;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.mesicPohyb{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    border-radius: 50%;
    transform: rotate(230deg);
}
