.venuse{
    position: fixed;
    background-color: transparent;
    height: 500px;
    width: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    border-radius: 50%;
    animation-name: pohyb;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.venusePohyb{
    position: relative;
    width: 30px;
    height: 30px;
    transform: rotate(250deg);
    border-radius: 50%;
}
